#
# title           :Crucial runcom file
# description     :a runcom file is required by Crucial for each Crouton instance
#

#
# the name of the Crouton instance; if not defined it will be set to match the 
# Linux release name
#CRNAME=trusty

#
# the Linux release installed in the chroot; execute
# "sh ~/Downloads/crouton-crucial-master/crouton -r list" to print candidates
CRRELEASE=trusty

#
# the Crouton path for where everything is stored; e.g. "chroots/", "bin/" 
CRPATH=/usr/local  # default

#
# arguments to crouton -t are comma-separated package groups; execute 
# "sh ~/Downloads/crouton-crucial-master/crouton -t list" to print candidates; 
# targets are additive and there is not an automatic way to remove them;
## for Chromebook Pixel add "touch";
## for X in a Chrome window, audio playback via CRAS, 2-way clipboard sync;
CRTARGETS=xfce-desktop,cli-extra,keyboard,xiwi

#
# where to stash the backup tarballs created by edit-chroot
CRBACKUPS=~chronos/Downloads # default

#
# a crude backup retention policy; i.e.
# POLICY: MAX BACKUPS
#   2:      16
#   4:      8
#   10:     4
#   20:     2
#   32:     1
## if policy number 4 then retain at most 8 backups
CRPOLICY=4

#
# the start command is invoked after setting up your environment and startcli
# is assumed if not defined; it's one or none of the following and must be installed:
## startcli, starte17, startgnome, startkde, startlxde, startunity, startxbmc,
## startxfce4, startxiwi
## if startxiwi then optionally followed by the command you would like to run
## in a window like "startxiwi -b xterm"
CRSTARTCMD=startxfce4

#
# Crucial will bootstrap Crouton from this URL unless it already exists in the
# installation dir
CRINSTALLER="https://raw.githubusercontent.com/dnschneid/crouton/master/installer/crouton"

